// Horizontal dividers
//水平分隔
// Dividers (basically an hr) within dropdowns and nav lists
//分频器（基本上是一个人力资源）在下拉菜单和导航列表
.nav-divider(@color: #e5e5e5) {
  height: 1px;
  margin: ((@line-height-computed / 2) - 1) 0;
  overflow: hidden;
  background-color: @color;
}
