.buildpath
.project
.settings/
META-INF/
.externalToolBuilders/
.classpath
.prefs
.metadata
.MF
.component
.jsdtscope
.container
.name
.launch
.class
.gitignore
.checkstyle
/bin/
/target/
.project
.tern-project
.xml