<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>**商店首页</title>
    <!--<link href="less/Nstrap.less" type="text/css" rel="stylesheet/less"/>
    <script src="js/less.js"></script>-->
    <link href="../../css/Nstrap.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lte IE 8]>
    <script type="text/javascript" src="https://www.wegene.com/static/js/respond.js"></script>
    <![endif]-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">商店名称</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页<span class="sr-only">(current)</span></a></li>
                <li><a href="#">美甲商品</a></li>
                <li><a href="#">促销活动</a></li>
                <li><a href="#">美甲文章</a></li>
            </ul>
            <div class="navbar-form navbar-right">
                <button type="button" class="btn btn-primary">登录</button>
            </div>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">商品全部分类</div>
            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">分类一</li>
                <li class="list-group-item">分类二</li>
                <li class="list-group-item">分类三</li>
                <li class="list-group-item">分类四</li>
                <li class="list-group-item">分类五</li>
            </ul>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="panel panel-default">
            <div class="panel-heading">全部活动</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="../../images/userLogo/a1.jpg" class="" alt="...">
                            <div class="caption">
                                <h5>充200成为高级员会</h5>
                                <p><span>活动时间：</span>2017-10-10 至 2018-10-10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="../../images/userLogo/a1.jpg" class="" alt="...">
                            <div class="caption">
                                <h5>充500送高级会员</h5>
                                <p><span>活动时间：</span>2017-10-10 至 2018-10-10</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="../../images/userLogo/a1.jpg" class="" alt="...">
                            <div class="caption">
                                <h5>充1000成为终身会员</h5>
                                <p><span>活动时间：</span>2017-10-10 至 2018-10-10</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="footer"></div>
</body>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>