<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hd.persistance.sys.AppExtendInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.sys.AppExtendInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="app_id" property="appId" jdbcType="INTEGER" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_type, app_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_extend_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_extend_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByAppId" parameterType="java.lang.Integer" >
    delete from t_app_extend_info
    where app_id = #{appId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.sys.AppExtendInfo" >
    insert into t_app_extend_info (id, user_type, app_id)
    values (#{id,jdbcType=INTEGER}, #{userType,jdbcType=VARCHAR}, #{appId,jdbcType=INTEGER}
    )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.sys.AppExtendInfo" >
    insert into t_app_extend_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        #{appId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.sys.AppExtendInfo" >
    update t_app_extend_info
    <set >
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null" >
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.sys.AppExtendInfo" >
    update t_app_extend_info
    set user_type = #{userType,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- <select id="selectAppExtendInfoByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  	 select 
   id, user_type, app_id, assort
    from t_app_extend_info t
    where 1=1
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and  user_type like '%${params.searchText}%' 
    </if>
  </select> -->
    <select id="selectByAppId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    id, user_type, app_id
    from t_app_extend_info
    where app_id = #{appId,jdbcType=INTEGER}
  </select>
</mapper>