<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hd.persistance.sys.ApplyInfoMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.sys.ApplyInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, type, state,create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_apply_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_apply_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.sys.AppInfo" >
    insert into t_apply_info (id, user_id, type, state,create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{type,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR},sysdate())
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.sys.AppInfo" useGeneratedKeys="true" keyProperty="id">
    insert into t_apply_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="state != null" >
        state,
      </if>
     
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appName != null" >
        #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null" >
        #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null" >
        #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="appLogo != null" >
        #{appLogo,jdbcType=VARCHAR},
      </if>
      <if test="appSort != null" >
        #{appSort,jdbcType=INTEGER},
      </if>
      <if test="isPay != null" >
        #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.sys.AppInfo" >
    update t_apply_info
    <set >
      <if test="appName != null" >
        app_name = #{appName,jdbcType=VARCHAR},
      </if>
      <if test="appCode != null" >
        app_code = #{appCode,jdbcType=VARCHAR},
      </if>
      <if test="requestUrl != null" >
        request_url = #{requestUrl,jdbcType=VARCHAR},
      </if>
      <if test="appLogo != null" >
        app_logo = #{appLogo,jdbcType=VARCHAR},
      </if>
      <if test="appSort != null" >
        app_sort = #{appSort,jdbcType=INTEGER},
      </if>
      <if test="isPay != null" >
        is_pay = #{isPay,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR}
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.sys.AppInfo" >
    update t_apply_info
    set app_name = #{appName,jdbcType=VARCHAR},
      app_code = #{appCode,jdbcType=VARCHAR},
      request_url = #{requestUrl,jdbcType=VARCHAR},
      app_logo = #{appLogo,jdbcType=VARCHAR},
      app_sort = #{appSort,jdbcType=INTEGER},
      is_pay = #{isPay,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectApplyInfoByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  	select 
   	id, app_name, app_code, request_url, app_logo, app_sort, is_pay, state
    from t_apply_info t
    where 1=1
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and  app_name like '%${params.searchText}%' 
    </if>
     <if test="params['state'] != null and params['state'] != ''">  
        	and state=#{params.state}
    </if>
    order by app_sort
  </select>
  <select id="selectAllApplyInfo" parameterType="cn.com.hd.domain.sys.AppInfo" resultMap="BaseResultMap">
  	select 
   	id, app_name, app_code, request_url, app_logo, app_sort, is_pay, state
    from t_apply_info t 
  </select>
</mapper>