<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hd.persistance.company.CommodityCategoryMapper">
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.company.CommodityCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="commodity_ids" jdbcType="VARCHAR" property="commodityIds" />
    <result column="category_name" jdbcType="VARCHAR" property="categoryName" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.com.hd.domain.company.CommodityCategory">
    <result column="commodity_note" jdbcType="LONGVARCHAR" property="commodityNote" />
  </resultMap>
  <sql id="Base_Column_List">
    id, company_id, commodity_ids, category_name, creat_time,update_time,state
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_commodity_category
    where id = #{id,jdbcType=INTEGER}
  </select>
   <select id="selectByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
   id, company_id, commodity_ids, category_name, creat_time,update_time,state
    from t_commodity_category
    where company_id = #{companyId,jdbcType=INTEGER} and state=1
  </select>
   <select id="selectByCompanyIdByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  SELECT
	id, company_id, commodity_ids, category_name, creat_time,update_time,state
	FROM
	t_commodity_category  t
	 WHERE 1 = 1
    <if test="params['companyId'] !=null"> 
    and company_id=#{params.companyId}
    </if>
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and (commodity_name like '%${params.searchText}%' ) 
    </if>
    <if test="params['state'] != null and params['state'] != ''">  
        	and state=#{params.state}
    </if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_commodity_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.company.CommodityCategory">
    insert into t_commodity_category (id, company_id, commodity_ids, category_name, creat_time,state)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{commodityIds,jdbcType=VARCHAR}, 
      #{categoryName,jdbcType=VARCHAR}, sysdate(), #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.company.CommodityCategory">
    insert into t_commodity_category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="commodityIds != null">
        commodity_ids,
      </if>
      <if test="categoryName != null">
        category_name,
      </if>
      <if test="state != null">
        state,
      </if>
      ceaet_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="commodityIds != null">
        #{commodityIds,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=VARCHAR},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.company.CommodityCategory">
    update t_commodity_category
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="commodityIds != null">
        commodity_ids = #{commodityIds,jdbcType=VARCHAR},
      </if>
      <if test="categoryName != null">
        category_name = #{categoryName,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=VARCHAR},
      </if>
      	update_time = sysdate()
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.hd.domain.company.CommodityCategory">
    update t_commodity_category
    set company_id = #{companyId,jdbcType=INTEGER},
      commodity_ids = #{commodityIds,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      update_time = sysdate()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.company.CommodityCategory">
    update t_commodity_category
    set company_id = #{companyId,jdbcType=INTEGER},
      commodity_ids = #{commodityIds,jdbcType=VARCHAR},
      category_name = #{categoryName,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      update_time = sysdate()
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>