<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hd.persistance.company.CompanyRoleOperationMapper">
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.company.CompanyRoleOperation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="app_id" jdbcType="INTEGER" property="appId" />
    <result column="operation_id" jdbcType="INTEGER" property="operationId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role_id, app_id, operation_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_role_operation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company_role_operation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.company.CompanyRoleOperation">
    insert into t_company_role_operation (id, role_id, app_id, 
      operation_id)
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{appId,jdbcType=INTEGER}, 
      #{operationId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.company.CompanyRoleOperation">
    insert into t_company_role_operation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="operationId != null">
        operation_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null">
        #{operationId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.company.CompanyRoleOperation">
    update t_company_role_operation
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=INTEGER},
      </if>
      <if test="operationId != null">
        operation_id = #{operationId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.company.CompanyRoleOperation">
    update t_company_role_operation
    set role_id = #{roleId,jdbcType=INTEGER},
      app_id = #{appId,jdbcType=INTEGER},
      operation_id = #{operationId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>