<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.hd.persistance.company.CompanyMemberMapper">
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.company.CompanyMember">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="member_type" jdbcType="INTEGER" property="memberType" />
    <result column="member_card" jdbcType="VARCHAR" property="memberCard" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="cash" jdbcType="DOUBLE" property="cash" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <collection column="user_id" ofType="cn.com.hd.domain.uc.User" property="user" select="cn.com.hd.persistance.uc.UserMapper.selectByPrimaryKey" />
  	<collection column="user_id" ofType="cn.com.hd.domain.uc.UserInfo" property="userInfo" select="cn.com.hd.persistance.uc.UserInfoMapper.selectByPrimaryKey" />
  	 <collection column="company_id" ofType="cn.com.hd.domain.company.CompanyInfo" property="companyInfo" select="cn.com.hd.persistance.company.CompanyInfoMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, company_id, member_type,member_card, is_delete, cash,remark,creat_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_company_member
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_company_member
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.company.CompanyMember">
    insert into t_company_member (id, user_id, company_id,
      member_type,member_card, is_delete,cash,remark,creat_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER},
      #{memberType,jdbcType=INTEGER},#{memberCard,jdbcType=VARCHAR}, #{isDelete,jdbcType=VARCHAR},#{cash,jdbcType=DOUBLE}, #{remark,jdbcType=VARCHAR},sysdate())
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.company.CompanyMember">
    insert into t_company_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="memberType != null">
        member_type,
      </if>
      <if test="memberCard != null">
        member_card,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="cash != null">
        cash,
      </if>
      <if test="remark != null">
        remark,
      </if>
      creat_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="memberType != null">
        #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberCard != null">
        #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=VARCHAR},
      </if>
       <if test="cash != null">
        #{cash,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
       sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.company.CompanyMember">
    update t_company_member
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="memberType != null">
        member_type = #{memberType,jdbcType=INTEGER},
      </if>
      <if test="memberCard != null">
        member_card = #{memberCard,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
       <if test="cash != null">
        cash = #{cash,jdbcType=DOUBLE},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.company.CompanyMember">
    update t_company_member
    set user_id = #{userId,jdbcType=INTEGER},
      company_id = #{companyId,jdbcType=INTEGER},
      member_type = #{memberType,jdbcType=INTEGER},
        member_card = #{memberCard,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
       cash = #{cash,jdbcType=DOUBLE},
       remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
      <!-- 根据条件查找用户信息 -->
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.com.hd.domain.company.CompanyMember" >
    SELECT
	t.id,
	t.user_id,
	t.company_id,
	t.member_type,
	t.member_card,
	t.is_delete,
	t.cash,
	t.remark,
	t.creat_time
	FROM
	t_company_member  t
    where 1=1
    <if test="userId != null">  
        	and t.user_id=#{userId} and t.company_id=#{companyId}
    </if>
  </select>
  
  
  
   <select id="selectCompanyMemberByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  SELECT
	t.id,
	t.user_id,
	t.company_id,
	t.member_type,
	t.member_card,
	t.is_delete,
	t.cash,
	t.remark,
	t.creat_time
	FROM
	t_company_member  t
	LEFT JOIN t_user_info  u ON t.user_id = u.id WHERE 1 = 1
    <if test="params['companyId'] !=null"> 
    and company_id=#{params.companyId}
    </if>
    <if test="params['isDelete'] != null and params['isDelete'] != ''">  
        	and t.is_delete=#{params.isDelete}
    </if>
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and (u.uc_name like '%${params.searchText}%' ) 
    </if>
  </select>
  
  
      <!-- 根据用户id查找所属于的商户 -->
  <select id="selectCompanyMemberByuserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT
	t.id,
	t.user_id,
	t.company_id,
	t.member_type,
	t.member_card,
	t.is_delete,
	t.cash,
	t.remark,
	t.creat_time
	FROM
	t_company_member  t
    where 1=1
        	and t.user_id= #{userId,jdbcType=INTEGER}
  </select>
  
      <!-- 根据用户id和商户id查找记录 -->
  <select id="selectCompanyMemberByuserIdAndcompanyId" resultMap="BaseResultMap" parameterType="cn.com.hd.domain.company.CompanyMember" >
    SELECT
	t.id,
	t.user_id,
	t.company_id,
	t.member_type,
	t.member_card,
	t.is_delete,
	t.cash,
	t.remark,
	t.creat_time
	FROM
	t_company_member  t
    where 1=1
        	and t.user_id= #{userId,jdbcType=INTEGER} and company_id = #{companyId,jdbcType=INTEGER} 
  </select>
  
    
      <!-- 根据用户id和商户id查找记录 -->
  <select id="selectByCompanyMember" resultMap="BaseResultMap" parameterType="cn.com.hd.domain.company.CompanyMember" >
    SELECT
	t.id,
	t.user_id,
	t.company_id,
	t.member_type,
	t.member_card,
	t.is_delete,
	t.cash,
	t.remark,
	t.creat_time
	FROM
	t_company_member  t
    where 1=1
    <if test="userId != null">
      and  user_id = #{userId,jdbcType=INTEGER}
      </if>
      <if test="companyId != null and companyId != ''">
      and  company_id = #{companyId,jdbcType=INTEGER}
      </if>
      <if test="memberType != null and memberType != ''">
      and  member_type = #{memberType,jdbcType=INTEGER}
      </if>
      <if test="memberCard != null and memberCard != ''">
      and  member_card = #{memberCard,jdbcType=VARCHAR}
      </if>
      <if test="isDelete != null and isDelete != ''">
      and  is_delete = #{isDelete,jdbcType=VARCHAR}
      </if>
       <if test="cash != null and cash != ''">
      and  cash = #{cash,jdbcType=DOUBLE}
      </if>
      <if test="remark != null and remark != ''">
      and  remark = #{remark,jdbcType=VARCHAR}
      </if>
    
  </select>
  
  
</mapper>