<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hd.persistance.company.MemberBillFlowMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.company.MemberBillFlow" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_member_id" property="companyMemberId" jdbcType="INTEGER" />
    <result column="member_commodity_id" property="memberCommodityId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="commodity_id" property="commodityId" jdbcType="INTEGER" />
    <result column="promotion_id" property="promotionId" jdbcType="INTEGER" />
    <result column="bill_cash" property="billCash" jdbcType="DOUBLE" />
    <result column="pay_cash" property="payCash" jdbcType="DOUBLE" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="flow_type" property="flowType" jdbcType="VARCHAR" />
    <result column="consume_number" property="consumeNumber" jdbcType="INTEGER" />
    <result column="recorder_id" property="recorderId" jdbcType="INTEGER" />
    <result column="bill_model" property="billModel" jdbcType="VARCHAR" />
    <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
    <collection property="user" column="user_id" ofType="cn.com.hd.domain.uc.User" select="cn.com.hd.persistance.uc.UserMapper.selectByPrimaryKey"></collection>
    <collection property="userInfo" column="user_id" ofType="cn.com.hd.domain.uc.UserInfo" select="cn.com.hd.persistance.uc.UserInfoMapper.selectByPrimaryKey" />
  	<collection property="companyInfo" column="company_id" ofType="cn.com.hd.domain.company.CompanyInfo" select="cn.com.hd.persistance.company.CompanyInfoMapper.selectByPrimaryKey" />
	<collection property="companyCommodity" column="commodity_id" ofType="cn.com.hd.domain.company.CompanyCommodity"  select="cn.com.hd.persistance.company.CompanyCommodityMapper.selectByPrimaryKey" />
	
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_member_id,memberCommodityId,company_id, user_id, commodity_id, promotion_id, bill_cash, pay_cash, is_delete, flow_type,consume_number,recorder_id,bill_model, creat_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member_bill_flow
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectBySelective" resultMap="BaseResultMap" parameterType="cn.com.hd.domain.company.MemberBillFlow" >
    select 
    <include refid="Base_Column_List" />
    from t_member_bill_flow
    where 1=1
	  <if test="id != null" >
       and id = #{id,jdbcType=INTEGER}
      </if>
	  <if test="companyMemberId != null" >
       and company_member_id = #{companyMemberId,jdbcType=INTEGER}
      </if>
        <if test="memberCommodityId != null" >
       and member_commodity_id = #{memberCommodityId,jdbcType=INTEGER}
      </if>
	  <if test="companyId != null" >
       and company_id = #{companyId,jdbcType=INTEGER}
      </if>
	  <if test="userId != null" >
       and user_id = #{userId,jdbcType=INTEGER}
      </if>
	  <if test="commodityId != null" >
       and commodity_id = #{commodityId,jdbcType=INTEGER}
      </if>
	  <if test="promotionId != null" >
       and promotion_id = #{promotionId,jdbcType=INTEGER}
      </if>
      <if test="billCash != null" >
      and  bill_cash = #{billCash,jdbcType=DOUBLE}
      </if>
	  <if test="payCash != null" >
      and  pay_cash = #{payCash,jdbcType=DOUBLE}
      </if>
	  <if test="isDelete != null" >
      and  is_delete = #{isDelete,jdbcType=VARCHAR}
      </if>
	  <if test="flowType != null" >
      and  flow_type = #{flowType,jdbcType=VARCHAR}
      </if>
	  <if test="consumeNumber != null" >
       and consume_number = #{consumeNumber,jdbcType=INTEGER}
      </if>
	  <if test="recorderId != null" >
       and recorder_id = #{recorderId,jdbcType=INTEGER}
      </if>
	  <if test="billModel != null" >
      and  bill_model = #{billModel,jdbcType=VARCHAR}
      </if>
	 
	  
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_member_bill_flow
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.company.MemberBillFlow" useGeneratedKeys="true" keyProperty="id">
    insert into t_member_bill_flow (company_member_id,member_commodity_id ,company_id, user_id, commodity_id, promotion_id, bill_cash, pay_cash, is_delete, flow_type,consume_number,recorder_id,bill_model, creat_time)
    values (#{companyMemberId,jdbcType=INTEGER},#{memberCommodityId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{userId,jdbcType=INTEGER}, #{commodityId,jdbcType=INTEGER},#{promotionId,jdbcType=INTEGER}, #{billCash,jdbcType=DOUBLE}, 
      #{payCash,jdbcType=DOUBLE}, #{isDelete,jdbcType=VARCHAR}, #{flowType,jdbcType=VARCHAR},
      #{consumeNumber,jdbcType=VARCHAR},#{recorderId,jdbcType=VARCHAR},#{billModel,jdbcType=VARCHAR}, sysdate())
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.company.MemberBillFlow" >
    insert into t_member_bill_flow
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyMemberId != null" >
        company_member_id,
      </if>
      <if test="memberCommodityId != null" >
        member_commodity_id ,
      </if>
      <if test="commodityId != null" >
        company_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="commodityId != null" >
        commodity_id,
      </if>
      <if test="promotionId != null" >
        promotion_id,
      </if>
      <if test="billCash != null" >
        bill_cash,
      </if>
      <if test="payCash != null" >
        pay_cash,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="flowType != null" >
        flow_type,
      </if>
      <if test="consumeNumber != null" >
        consume_number,
      </if>
	  <if test="recorderId != null" >
        recorder_id,
      </if>
	  <if test="recorderId != null" >
        bill_model,
      </if>
      creat_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyMemberId != null" >
        #{companyMemberId,jdbcType=INTEGER},
      </if>
       <if test="memberCommodityId != null" >
        #{memberCommodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        #{companyId,jdbcType=INTEGER}, 
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER}, 
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null" >
        #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="billCash != null" >
        #{billCash,jdbcType=DOUBLE}, 
      </if>
      <if test="payCash != null" >
        #{payCash,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null" >
        #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="consumeNumber != null" >
        #{consumeNumber,jdbcType=VARCHAR},
      </if>
	  <if test="recorderId != null" >
        #{recorderId,jdbcType=VARCHAR},
      </if>
	  <if test="recorderId != null" >
        #{billModel,jdbcType=VARCHAR},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.company.MemberBillFlow" >
    update t_member_bill_flow
    <set >
      <if test="companyMemberId != null" >
        company_member_id = #{companyMemberId,jdbcType=INTEGER},
      </if>
      <if test="memberCommodityId != null" >
        member_commodity_id = #{memberCommodityId,jdbcType=INTEGER},
      </if>
      <if test="commodityId != null" >
        company_id = #{companyId,jdbcType=INTEGER}, 
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER}, 
      </if>
      <if test="commodityId != null" >
        commodity_id = #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="promotionId != null" >
        promotion_id = #{promotionId,jdbcType=INTEGER},
      </if>
      <if test="billCash != null" >
        bill_cash = #{billCash,jdbcType=DOUBLE}, 
      </if>
      <if test="payCash != null" >
        pay_cash = #{payCash,jdbcType=DOUBLE},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="flowType != null" >
        flow_type = #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="consumeNumber != null" >
        consume_number = #{consumeNumber,jdbcType=VARCHAR},
      </if>
	  <if test="recorderId != null" >
        recorder_id = #{recorderId,jdbcType=VARCHAR},
      </if>
	  <if test="recorderId != null" >
        bill_model = #{billModel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.company.MemberBillFlow" >
    update t_member_bill_flow
    set 
        company_member_id = #{companyMemberId,jdbcType=INTEGER},
        member_commodity_id = #{memberCommodityId,jdbcType=INTEGER},
        company_id = #{companyId,jdbcType=INTEGER}, 
        user_id = #{userId,jdbcType=INTEGER}, 
        commodity_id = #{commodityId,jdbcType=INTEGER},
        promotion_id = #{promotionId,jdbcType=INTEGER},
        bill_cash = #{billCash,jdbcType=DOUBLE}, 
        pay_cash = #{payCash,jdbcType=DOUBLE},
        is_delete = #{isDelete,jdbcType=VARCHAR},
        flow_type = #{flowType,jdbcType=VARCHAR},
        consume_number = #{consumeNumber,jdbcType=VARCHAR},
        recorder_id = #{recorderId,jdbcType=VARCHAR},
        bill_model = #{billModel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  	select t.id,t.company_member_id,t.member_commodity_id,t.company_id, t.user_id, t.commodity_id, t.promotion_id, t.bill_cash, t.pay_cash, t.is_delete, t.flow_type,t.consume_number,t.recorder_id,t.bill_model,t.creat_time from t_member_bill_flow t
    LEFT JOIN t_user u on u.id = t.user_id
    where 1=1 
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and u.name  like '%${params.searchText}%' 
    </if>
  </select>
  
   <select id="selectAllList"  resultMap="BaseResultMap">
  	select t.id,t.company_member_id,t.member_commodity_id,t.company_id, t.user_id, t.commodity_id, t.promotion_id, t.bill_cash, t.pay_cash, t.is_delete, t.flow_type,t.consume_number,t.recorder_id,t.bill_model,t.creat_time from t_member_bill_flow t
  </select>
</mapper>