<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.hd.persistance.company.MemberRechargeMapper" >
  <resultMap id="BaseResultMap" type="cn.com.hd.domain.company.MemberRecharge" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="company_member_id" property="companyMemberId" jdbcType="INTEGER" />
    <result column="company_id" property="companyId" jdbcType="INTEGER" />
    <result column="recharge_cash" property="rechargeCash" jdbcType="VARCHAR" />
    <result column="pay_cash" property="payCash" jdbcType="VARCHAR" />
    <result column="is_delete" property="isDelete" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="recharge_time" property="rechargeTime" jdbcType="TIMESTAMP" />
    <collection property="user" column="user_id" ofType="cn.com.hd.domain.uc.User" select="cn.com.hd.persistance.uc.UserMapper.selectByPrimaryKey"></collection>
  	<collection property="userInfo" column="user_id" ofType="cn.com.hd.domain.uc.UserInfo"  select="cn.com.hd.persistance.uc.UserInfoMapper.selectByPrimaryKey" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, company_member_id, company_id, recharge_cash, pay_cash, is_delete, 
    user_id, recharge_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_member_recharge
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_member_recharge
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.hd.domain.company.MemberConsume" >
    insert into t_member_recharge (company_member_id, company_id, recharge_cash, pay_cash,  is_delete, 
    user_id, recharge_time)
    values (#{companyMemberId,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, 
      #{rechargeCash,jdbcType=VARCHAR}, #{payCash,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},sysdate())
  </insert>
  <insert id="insertSelective" parameterType="cn.com.hd.domain.company.MemberConsume" >
    insert into t_member_recharge
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="companyMemberId != null" >
        company_member_id,
      </if>
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="consumeCash != null" >
        recharge_cash,
      </if>
      <if test="payCash != null" >
        pay_cash,
      </if>
      <if test="isDelete != null" >
        is_delete,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
     recharge_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyMemberId != null" >
        #{companyMemberId,jdbcType=INTEGER},
      </if>
      <if test="companyId != null" >
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="consumeCash != null" >
        #{consumeCash,jdbcType=VARCHAR},
      </if>
      <if test="payCash != null" >
        #{payCash,jdbcType=VARCHAR},
      </if>
      <if test="commodityId != null" >
        #{commodityId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      sysdate()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.hd.domain.company.MemberConsume" >
    update t_member_recharge
    <set >
      <if test="companyMemberId != null" >
        company_member_id = #{companyMemberId,jdbcType=VARCHAR},
      </if>
      <if test="companyId != null" >
        company_id = #{companyId,jdbcType=VARCHAR},
      </if>
      <if test="consumeCash != null" >
        recharge_cash = #{consumeCash,jdbcType=VARCHAR},
      </if>
      <if test="payCash != null" >
        pay_cash = #{payCash,jdbcType=VARCHAR},
      </if>
      <if test="isDelete != null" >
        is_delete = #{isDelete,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.hd.domain.company.MemberConsume" >
    update t_member_recharge
    set company_member_id = #{companyMemberId,jdbcType=VARCHAR},
      company_id = #{companyId,jdbcType=VARCHAR},
      recharge_cash = #{consumeCash,jdbcType=VARCHAR},
      pay_cash = #{payCash,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCompanyByPage" parameterType="cn.com.hd.common.Page" resultMap="BaseResultMap">
  	select t.id, t.company_member_id, t.company_id, t.recharge_cash, t.pay_cash, t.is_delete, 
    t.user_id, t.recharge_time from t_member_recharge t
    LEFT JOIN t_user_info  u ON t.user_id = u.id where 1=1
    <if test="params['companyMemberId'] !=null"> 
    and company_member_id=#{params.companyMemberId}
    </if>
    <if test="params['searchText'] != null and params['searchText'] != ''">  
        	and (u.uc_name like '%${params.searchText}%')
    </if>
  </select>
</mapper>